
body {
  background-color: whitesmoke;
}

header  {
  background-color: #282c34;
  position: sticky;
  top: 0;
  z-index: 99;
  min-height: 65px;
  max-height: fit-content;  
  box-shadow: 0 5px 17px black;
}

.memory {
  font-size: 35px;
  
}

footer {
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  height: 25px;
  width: 100%;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 5px 0 17px black;
}

section {
  min-height: 130px;
  max-height: fit-content;
  /* background-color: red; */
}

main {
  min-height: calc((100vh - 260px));
  max-height: fit-content;
  /* background-color: whitesmoke; */
  overflow-y: hidden;
  /* margin-bottom: 200px; */
}


.cardImg {
  height: 150px;
  width: auto;
  box-shadow: 0 5px 17px black;
}

.marvelLogo {
  height: 65px;
}


p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

.instruct {
  color: #282c34;
}


.instructions {
  /* background: red; */
}